#pokeball-1 {
  width: 200px;
  position: fixed;
  top: -150px;
  right: 50px;
  margin-top: -50px;
  margin-left: -50px;
  animation: intercambio-pokemon 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.dos {
  animation: vuela 4s linear infinite;
}

#pokeball-2 {
  width: 200px;
  position: fixed;
  top: -150px;
  left: 50px;
  margin-top: -50px;
  margin-left: -50px;
  animation: intercambio-pokemon 1s linear infinite;
  animation-direction: reverse;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#barco {
  position: relative;
  right: -30px;
  bottom: -50px;
  z-index: -1;
  animation: memareo 2s infinite linear;
}

body {
  /*background-color: black;*/
  min-height: 500vh;
  animation: ciclodia 5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#olas {
  position: fixed;
  bottom: 0;
  animation: oleaje 4s infinite;
}

#olaimg {
  height: 150px;
  width: 300vh;
  background: url("https://static.vecteezy.com/system/resources/thumbnails/009/302/625/small/sea-waves-clipart-design-illustration-free-png.png")
    center top repeat-x;
}
.eye {
  background-color: white;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  margin: 10px;
}

.eyes {
  position: fixed;
  top: 10%;
  left: 40%;
  display: flex;
}
.iris {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50px;
}
.shine {
  margin: 0px;
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
